* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.main-container {
  min-height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main"
  ;
}

.sidebar {
  border: solid 2px lightskyblue;

  grid-area: sidebar;
}

.header {
  border: solid 2px lightgreen;
  
  grid-area: header;
}

.main-content {
  border: solid 2px lightsalmon;
  
  grid-area: main;
}