* {
  box-sizing: border-box;
}

input[type="search"] {
  width: 25vw;
}

.header {
  border: solid 2px lightgreen;

  padding: 2rem;
  
  grid-area: header;

  display: grid;
  gap: 20px;
}

.lower-header .profile-info {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

.main-container {
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main"
  ;
}

.main-content {
  border: solid 2px lightsalmon;
  
  grid-area: main;
}

.sidebar {
  border: solid 2px lightskyblue;

  padding: 2rem;

  grid-area: sidebar;

  display: grid;
  grid-template-rows: repeat(3, min-content) auto;
  gap: 50px;
  align-items: center;
}

.sidebar ul {
  display: grid;
  gap: 15px;
}

.upper-header,
.lower-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vw;
}
